<section>
    <div class="container">
        <div class="new-content">
            <div class="title">
                <h1>Как продать квартиру в ипотеке?</h1>
                <div class="title__announce">
                    <p>Если с банком не рассчитался,<br>
                        а уже хочется съезжать</p>
                </div>
            </div>
            <div class="specialist">
                <div class="specialist__image"><img src="img/author.jpeg" alt=""></div>
                <div class="specialist__info">
                    <h4>Артем Куреев</h4>
                    <span>Юрист в агенстве недвижимости</span>
                </div>
            </div>
            <div class="illustration">
                <div class="illustration__image">
                    <img src="img/new-image.jpeg" alt="">
                </div>
                <div class="illustration__author">
                    <span>Иллюстрация: Андрей Смольников</span>
                </div>
            </div>
            <div class="content">
                <div class="new-content__container">
                    <div class="content__text content__text--top">
                        <p>Обычная российская семья платит ипотеку за однушку не меньше 10 лет. За это время может
                            случиться всякое: родятся
                            и пойдут в школу дети, захочется расширить жилплощадь или вовсе переехать в другой город.
                            Как быть с ипотечной квартирой? Портал недвижимости расскажет, как продать объект в залоге
                            без тревог и нервотрёпки.
                        </p>
                    </div>
                    <div class="preview">
                        <div class="content__title preview__title">
                            <h3>О чем узнаете в статье</h3>
                        </div>
                        <div class="preview__marks">
                            <div class="mark"><h5>Статистика и основные проблемы продажи ипотечной квартиры</h5></div>
                            <div class="mark"><h5>3 способа продать ипотечную квартиру</h5></div>
                        </div>
                    </div>
                    <div class="content__title">
                        <h3>3 способа продать ипотечную квартиру</h3>
                    </div>
                    <div class="content__text content__text--custom-font content__text--border">
                        <p>В 2021 году россияне <a href="#">оформили</a> 1,9 млн ипотечных кредитов. Это то же самое,
                            если бы все жители Казани и Челнов решили разом взять ипотеку.
                            Общая сумма взятой россиянами ипотеки составляет 5,7 трлн. рублей. Это рекордные показатели
                            с 1998 года.<br>
                            Татарстанцы в этом вопросе <a href="#">занимают</a> пятое место по стране. Жители республики
                            <a href="#">взяли</a> 60,7 тыс. ипотечных кредитов за 11 месяцев 2021 года.
                            Сумма сделок превышает 150 млрд рублей, что на 8% выше аналогичного периода 2020 года.
                        </p>
                    </div>
                    <div class="content__text content__text--custom-font">
                        <p>Рано или поздно купленная в ипотеку недвижимость выходит на вторичный рынок.
                            Хорошо, если кредит за объект уже погашен, но все чаще встречаются ситуации, когда люди
                            вынуждены продать квартиру с долгом.
                            Причины могут быть разными: кто-то стремится улучшить свои жилищные условия, кто-то
                            разводится и делит имущество, кто-то не может выплатить долг, кому-то в срочно понадобились
                            деньги.
                            Как итог - рынок пополняется предложениями о продаже жилых объектов в залоге.
                        </p>
                    </div>
                    <div class="content__text content__text--custom-font content__text--italic">
                        <p>Например, Юля. Девушка купила однушку в ипотеку год назад. Платила ежемесячно по 12 тыс.
                            рублей, но успела покрыть только 60 тыс.
                            рублей основного долга, осталась должна банку 1 млн. рублей.
                            Юля переезжает в другой город и теперь не знает, что делать с ипотечной квартирой. Можно ли
                            ее быстро и выгодно продать?
                        </p>
                    </div>
                </div>
                <div class="specialist-comment">
                    <div class="specialist-comment__container">
                        <div class="specialist">
                            <div class="specialist__image"><img src="img/specialist.jpeg" alt=""></div>
                            <div class="specialist__info">
                                <h4>Алена Мавлютова</h4>
                                <span>Специалист агенства недвижимости «Риэлти»</span>
                            </div>
                        </div>
                        <div class="specialist-comment__text">
                            <p>— Жилых объектов с ипотекой в Казани много: свободных денег у людей становится всё
                                меньше. Сразу отмечу, продажа квартиры с обременением — не простая сделка.
                                Требуется договориться и с покупателем (для внесения большого задатка) и с банком.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="new-content__container">
                    <div class="content__title">
                        <h3>3 способа продать ипотечную квартиру</h3>
                    </div>
                    <div class="content__text">
                        <p>История Марины - скорее счастливая случайность. Для нее все сложилось <span class="back">наилучшим образом - знакомым понравилась именно ее недвижимость.</span>
                            Но не каждый покупатель захочет и сможет доверить деньги незнакомому продавцу и ждать
                            несколько дней, а может быть и дольше, пока банк снимет обременение.
                            Найти такого человека, суметь с ним договориться, составить юридически верное соглашение о
                            внесении задатка - непростая задача.
                            Но все возможно, особенно если вы заручились поддержкой в решении этого вопроса опытного
                            риэлтора.
                        </p>
                    </div>
                    <div class="illustration illustration--content">
                        <div class="illustration__image">
                            <img src="img/content-image.jpeg" alt="">
                        </div>
                        <div class="illustration__author">
                            <span>Фото: Александр Синельников. На фото изображен жилой дом по улице Академика Сахарова. 1987 год постройки</span>
                        </div>
                    </div>
                </div>
                <div class="questions">
                    <div class="questions__tabs">
                        <div class="tab">
                            <div class="tab__heading" id="1">
                                <div class="tab__question">
                                    <div class="new-content__container click-area">
                                        <h3>Как определить профессионального риелтора?</h3>
                                        <svg xmlns="http://www.w3.org/2000/svg" width="45" height="45" viewBox="0 0 45 45" fill="none">
                                            <path d="M33.75 16.875L22.5 28.125L11.25 16.875" stroke="#16293F" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                        </svg>
                                    </div>
                                </div>
                                <div class="tab__question tab__question--active tab__question--open">
                                    <div class="specialist-comment">
                                        <div class="specialist-comment__container">
                                            <div class="specialist-comment__text">
                                                <p>«‎Если в процессе сделки стоимость квартир на рынке вырастет, а договор купли-продажи уже будет заключён,
                                                    цену на недвижимость изменить вы не сможете»
                                                </p>
                                            </div>
                                            <div class="specialist">
                                                <div class="specialist__image"><img src="img/specialist.jpeg" alt=""></div>
                                                <div class="specialist__info">
                                                    <h4>Алена Мавлютова</h4>
                                                    <span>Специалист агенства недвижимости «Риэлти»</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab__content tab__content--active" id="content1">
                                <div class="new-content__container">
                                    <div class="title">
                                        <h4>Продажа ипотечной квартиры с участием банка-кредитодателя пошагово:</h4>
                                    </div>
                                    <ol>
                                        <li>Уведомить банк о продаже. Подойдите в отделение клиентского обслуживания и напишите заявление. Объясните причину продажи.</li>
                                        <li>Взять справку о размерах остатка основного долга (это можно сделать онлайн).</li>
                                        <li>Заключить договор купли-продажи с покупателем.</li>
                                        <li>Удостоверится, что покупатель перечислил деньги на аккредитив или в банковскую ячейку, после чего ждать снятия обременения.
                                            Это занимает 5-7 рабочих дней, но порой сроки могут затянуться до 30 рабочих дней. Эксперты советуют обратиться
                                            в службу поддержки с просьбой ускорить процесс.
                                        </li>
                                        <li>Получить закладную и выписку об отсутствии обременения.</li>
                                        <li>Сдать документы в МФЦ на регистрацию.</li>
                                        <li>Получить оставшуюся часть денег.</li>
                                    </ol>
                                    <div class="text">
                                        <p><span class="bold">Примечание 1:</span> Сделка с участием банка приостановится на время снятия обременения. Но каждая из сторон в это время будет юридически защищена.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab">
                            <div class="tab__heading" id="2">
                                <div class="tab__question tab__question--active">
                                    <div class="new-content__container click-area">
                                        <h3>Как определить профессионального риелтора?</h3>
                                        <svg xmlns="http://www.w3.org/2000/svg" width="45" height="45" viewBox="0 0 45 45" fill="none">
                                            <path d="M33.75 16.875L22.5 28.125L11.25 16.875" stroke="#16293F" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                        </svg>
                                    </div>
                                </div>
                                <div class="tab__question tab__question--open">
                                    <div class="specialist-comment">
                                        <div class="specialist-comment__container">
                                            <div class="specialist-comment__text">
                                                <p>«‎Если в процессе сделки стоимость квартир на рынке вырастет, а договор купли-продажи уже будет заключён,
                                                    цену на недвижимость изменить вы не сможете»
                                                </p>
                                            </div>
                                            <div class="specialist">
                                                <div class="specialist__image"><img src="img/specialist.jpeg" alt=""></div>
                                                <div class="specialist__info">
                                                    <h4>Алена Мавлютова</h4>
                                                    <span>Специалист агенства недвижимости «Риэлти»</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab__content" id="content2">
                                <div class="new-content__container">
                                    <div class="title">
                                        <h4>Продажа ипотечной квартиры с участием банка-кредитодателя пошагово:</h4>
                                    </div>
                                    <ol>
                                        <li>Уведомить банк о продаже. Подойдите в отделение клиентского обслуживания и напишите заявление. Объясните причину продажи.</li>
                                        <li>Взять справку о размерах остатка основного долга (это можно сделать онлайн).</li>
                                        <li>Заключить договор купли-продажи с покупателем.</li>
                                        <li>Удостоверится, что покупатель перечислил деньги на аккредитив или в банковскую ячейку, после чего ждать снятия обременения.
                                            Это занимает 5-7 рабочих дней, но порой сроки могут затянуться до 30 рабочих дней. Эксперты советуют обратиться
                                            в службу поддержки с просьбой ускорить процесс.
                                        </li>
                                        <li>Получить закладную и выписку об отсутствии обременения.</li>
                                        <li>Сдать документы в МФЦ на регистрацию.</li>
                                        <li>Получить оставшуюся часть денег.</li>
                                    </ol>
                                    <div class="text">
                                        <p><span class="bold">Примечание 1:</span> Сделка с участием банка приостановится на время снятия обременения. Но каждая из сторон в это время будет юридически защищена.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="comments">
                <div class="new-content__container">
                    <div class="content__title comments__title">
                        <h2>Обсуждения</h2>
                    </div>
                    <div class="comments__counter">
                        <p>4 комментария</p>
                    </div>
                    <div class="form">
                        <div class="user">
                            <div class="user__image">
                                <img src="img/comment1.jpeg" alt="">
                            </div>
                            <h4>Ксения Захарова</h4>
                        </div>
                        <form action="#">
                            <textarea type="text" class="form__input" required placeholder="Ваш ответ" rows="2"></textarea>
                            <div class="form__actions">
                                <label class="file-add">
                                    <span class="file-add__name"></span>
                                    <input type="file" class="file-add__input" accept="image/jpeg">
                                    <span class="file-add__image"></span>
                                </label>
                                <button type="submit" class="send">Отправить</button>
                            </div>
                        </form>
                    </div>
                    <div class="comments__wrapper">
                        <div class="comments__item">
                            <div class="image left"><img src="img/comment2.jpeg" alt=""></div>
                            <div class="right infos">
                                <div class="infos__top">
                                    <h4>Даниил Ефимов</h4>
                                    <div class="time"><p>19 минут</p></div>
                                </div>
                                <div class="infos__text">
                                    <p>Спасибо! очень интересная и полезная статья, но проблемное дело действительно</p>
                                </div>
                                <div class="infos__action">
                                    <div class="reply">Ответить</div>
                                    <div class="likes-counter">
                                        <div class="likes-counter__btn down">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="27" height="28"
                                                 viewBox="0 0 27 28" fill="none">
                                                <path d="M6.75 10.9062L13.5 17.6562L20.25 10.9062" stroke="#16293F"
                                                      stroke-width="1.5" stroke-linecap="round"
                                                      stroke-linejoin="round"/>
                                            </svg>
                                        </div>
                                        <div class="likes-counter__number">11</div>
                                        <div class="likes-counter__btn up">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="27" height="28"
                                                 viewBox="0 0 27 28" fill="none">
                                                <path d="M20.25 17.6562L13.5 10.9062L6.75 17.6562" stroke="#16293F"
                                                      stroke-width="1.5" stroke-linecap="round"
                                                      stroke-linejoin="round"/>
                                            </svg>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="comments__item comments__item--sub">
                            <div class="image left"><img src="img/comment3.jpeg" alt=""></div>
                            <div class="right infos">
                                <div class="infos__top">
                                    <h4>Динара Мизуллина</h4>
                                    <div class="time"><p>18.02, 10:14</p></div>
                                </div>
                                <div class="infos__text">
                                    <img src="img/reply.png" alt="">
                                </div>
                                <div class="infos__action">
                                    <div class="reply">Ответить</div>
                                    <div class="likes-counter">
                                        <div class="likes-counter__btn down">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="27" height="28"
                                                 viewBox="0 0 27 28" fill="none">
                                                <path d="M6.75 10.9062L13.5 17.6562L20.25 10.9062" stroke="#16293F"
                                                      stroke-width="1.5" stroke-linecap="round"
                                                      stroke-linejoin="round"/>
                                            </svg>
                                        </div>
                                        <div class="likes-counter__number">6</div>
                                        <div class="likes-counter__btn up">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="27" height="28"
                                                 viewBox="0 0 27 28" fill="none">
                                                <path d="M20.25 17.6562L13.5 10.9062L6.75 17.6562" stroke="#16293F"
                                                      stroke-width="1.5" stroke-linecap="round"
                                                      stroke-linejoin="round"/>
                                            </svg>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
